/* Feed.css */

.feed-container {
  padding: 20px;
  background-color: #05050f; /* Fondo oscuro coherente con el Header */
  min-height: 100vh;
}

.feed-container h2 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Configuración del Grid para las publicaciones */
.posts-grid {
  display: grid;
  /* Crea columnas automáticas de al menos 250px */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; /* Espaciado entre publicaciones */
  justify-items: center;
}

/* Responsividad para móviles */
@media (max-width: 600px) {
  .posts-grid {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    gap: 15px;
  }
  
  .feed-container {
    padding: 10px;
  }
}